[Install]
WantedBy=multi-user.target

[Unit]
Description=Dummy target for enabled services
Requires=multi-user.target
Wants=docker.socket systemd-networkd.service systemd-resolved.service
